.user-info {
  background: var(--active-color);
  padding: 17px 22px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  display: flex;
  align-items: center;
}

.user-info__name-wrapper {
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  
}

.user-info__name {
  font-size: 18px;
  line-height: 27px;
  color: var(--contrast-color);
  margin: 0;
  margin-bottom: 3px;
}

.user-info__logout {
  display: flex;
  padding: 0;
  border: 0;
  background: transparent;
  color: var(--contrast-color);
  font-size: 14px;

  img {
    width: 18px;
    margin-right: 5px;
  }
}