.header {
  background: url('../img/main-bg.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-weight: 600;
  font-size: 110px;
  color: #FFFFFF;
  padding-top: 300px;
  margin-bottom: 30px;
  padding-left: 108px;
}

.header__description {
  font-weight: 600;
  margin: 0;
  font-size: 55px;
  color: #F9A75C;
  padding-left: 108px;

  span {
    color: #fff;
  }
}

.header__btn {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 23px 17px 28px rgba(0, 0, 0, 0.25);
  border-radius: 64px;
  padding: 6px 60px;
  font-weight: 600;
  font-size: 30px;
  color: #38436A;
  text-decoration: none;
  margin: 0 15px;

  &--login {
    color: #fff;
     background: #F9A75C;
  }
}

.header-btns {
  margin-top: 85px;
  margin-right: 200px;
}

.quote {
  padding: 185px 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote__text {
  font-weight: 600;
  font-size: 96px;
  line-height: 144px;
  text-align: right;
  color: #38436A;
  margin: 0;

  span {
    color: var(--active-color)
  }
}

.quote__author {
  font-weight: 600;
  font-size: 36px;
  color: #38436A;
  text-align: right;
}

.about {  
  background: #38436A;
  box-shadow: 0px 0px 55px 23px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 105px 90px;
  align-items: center;
}

.about__text {
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  margin-right: 50px;

  a {
    color: var(--active-color);
  }
}

.why {
  display: flex;
  padding: 180px 60px;

  img {
    margin: 0 auto;
    display: block;
  }

  div {
    padding: 0 75px;
  }
}

.why__title {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 64px;
  color: #F9A75C;
  margin-bottom: 15px;
  text-align: center;
}

.why__text {
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  padding: 200px 0;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  background: #38436A;
}